/* main.css */

/* Extra small devices phones/all  */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.number {
    font-family: sans-serif;
}

/* Navbar */
.navbar-collapse {
    font-size: 18px;
}

/* Content */
.content {
    margin-top: 50px;
}

/* Footer */
footer {
    margin-top: 25px;
}

.icon {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.disclaimer {
    font-size: 10px;
    margin-top: 25px;
}


.showcase {
     padding-top: 10px;
 }

.infomation {
    margin-top: 20px;
}

.article_text {
	margin-bottom: 25px;
}

.article_video {
	margin-bottom: 25px;
}

#video-gallery-button {
    width: 250px;
}

#image-gallery-button {
    width: 250px;
}

.featurette {
    margin-bottom: 25px;
}

.xs-logo {
    margin-top: 50px;
}

/* Small devices Tablets */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .featurette {
        margin-bottom: 50px;
    }

    .showcase {
        padding-top: 0px;
    }
	
	.article_text {
		margin-bottom: 35px;
	}

	.article_video {
		margin-bottom: 35px;
	}
	.aaLogo {
		margin-top: 20px;
	}

}
/* Medium devices Desktops */
@media (min-width: 992px) {
    body {
        font-size: 16px;
    }

    .featurette {
        margin-bottom: 75px;
    }

    .featurette-heading-1 {
        margin-top: 40px;
    }

    .featurette-heading-2 {
        margin-top: 0px;
    }
    
    .featurette-heading-3 {
        margin-top: 40px;
    }
	
	.article_text {
		margin-bottom: 50px;
	}

	.article_video {
		margin-bottom: 50px;
	}

    .featurette-img-2 {
        margin-top: 30px;
    }
	.aaLogo {
		margin-top: 20px;
	}
}

/* Large devices Desktops */
@media (min-width: 1200px) {
    body {
        font-size: 16px;
    }

    .featurette {
        margin-bottom: 100px;
    }

    .featurette-heading-1 {
        margin-top: 50px;
    }

    .featurette-heading-2 {
        margin-top: 10px;
    }
    
    .featurette-heading-3 {
        margin-top: 50px;
    }

    .featurette-img-2 {
        margin-top: 0px;
    }
	
	.article_text {
		margin-bottom: 50px;
	}

	.article_video {
		margin-bottom: 50px;
	}
	
	.aaLogo {
		margin-top: 20px;
	}
}