/* main.css */

/* all */
body {
    font-family: 'Raleway', sans-serif;
}
/* Navbar */
.navbar-collapse {
    font-size: 18px;
}

/* Content */
.content {
    margin-top: 50px;
}

/* Footer */
footer {
    margin-top: 50px;
}
.icon {
    padding-right: 10px;
}

.disclaimer {
    font-size: 10px;
}

#logo img{
    height: 50px;
    margin-left: -400px;
}

#myCarousel {
    margin-top: 51px
}

nav{
  -webkit-backface-visibility: hidden;
}

.AAlogo {
   margin-bottom: 150px;
    margin-right: -100px;

}
.carouselCaption {
    margin-left: -100px;
    text-align: left;
}

/* tablets */
@media (max-width: 768px) {
 .showcase {
     padding-top: 50px;
 }
}

/* desktops */
@media (min-width: 992px) {

}